.hero-image {
    background-image: url(../pics/runnawaycanoe.jpeg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    background-image: url(../pics/015.jpg);
    background-size: cover;
}